.cont_cont {
  width: 80vw;
  height: 100vh;
  margin: 0 10vw 0 10vw;
  display: flex;
  justify-content: center;
}

.cont_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cont_text {
  @include portrait {
    font-size: 3.6vw;
  }
  @include landscape {
    font-size: clamp(4vh, 4vw, 8vh);
  }
}

.cont_text + .cont_text {
  @include portrait {
    margin-top: 8vw;
  }
  @include landscape {
    margin-top: clamp(3vh, 3vw, 4vh);
  }
}

.cont_textSpace {
  margin-left: 4vw;
}