@use "../utilities/media-queries";

.home {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 5;

  @include media-queries.portrait {
    width: calc(100vw - var(--sb-w, 0px));
    height: 100dvh;
  }

  @include media-queries.landscape {
    min-width: 100vw;
    height: calc(100vh - var(--sb-h, 0px));
  }
}

.home h1:nth-child(1)::before {
  content: "<";
  position: absolute;
  transform: translateX(-100%);
}

.home h1:nth-child(2)::after {
  content: "/>";
}

.pdf {
  position: absolute;
  bottom: 3vh;
  right: 4vw;

  @include media-queries.portrait {
    font-size: 4vw;
  }

  @include media-queries.landscape {
    font-size: clamp(4vh, 2vw, 5vh);
  }

  font-family: 'Montserrat',
  sans-serif;
}