.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: clamp(10vh, 10vw, 14vh);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navbar_themes {
  display: flex;
  @include portrait {
    margin-left: 6vw;
  }
  @include landscape {
    margin-left: clamp(10vh, 10vw, 12vh);
  }
}

.navbar_themes > * + * {
  @include portrait {
    margin-left: 2vw;
  }
  @include landscape {
    margin-left: 2vh;
  }
}

.themeButton {
  border-radius: 50%;
  box-sizing: content-box;
  @include themed {
    border-color: t("text");
  }
  @include portrait {
    width: clamp(2vh, 3.5vw, 3vh);
    height: clamp(2vh, 3.5vw, 3vh);
    border-width: 0.5vw;
  }
  border-style: solid;
  @include landscape {
    width: clamp(2vh, 2vw, 3vh);
    height: clamp(2vh, 2vw, 3vh);
    border-width: 0.5vh;
  }
  transition: border 0.5s ease-out;
  cursor: pointer;

  &:focus-visible {
    @include portrait {
      outline-offset: 0.5vw;
    }
    @include landscape {
      outline-offset: 0.5vh;
    }
  }
}


.lightT {
  background-color: $light;
}

.darkT {
  background-color: $black;
}

.navbar_sections {
  display: flex;
  @include portrait {
    position: fixed;
    flex-direction: column;
    top: clamp(10vh, 10vw, 14vh);
    right: 5.5vw;
    padding: clamp(2.5vh, 2.5vw, 3.5vh);
    // border-radius: 4vw;
    @include themed {
      border: 0.5vw t("text") solid;
      background-color: t("bg");
    }
    transition: background-color 0.5s ease-out, border 0.5s ease-out;
    visibility: hidden;
  }
  @include landscape {
    margin-right: clamp(10vh, 10vw, 12vh);
  }
  list-style-type: none;
}

.navbar_sections button {
  background-color: transparent;
  text-align: start;
  @include portrait {
    text-transform: uppercase;
    font-size: clamp(2vh, 3vw, 3.5vh);
  }
  @include landscape{
    font-size: clamp(2.5vh, 2.5vw, 3.5vh);
  }
  font-family: 'Montserrat', sans-serif;
  @include themed {
    color: t("text");
  }
  transition: color 0.5s ease-out;
  user-select: none;
  cursor: pointer;
}

.navbar_sections > * + * {
  @include portrait {
    margin-top: 5vw;
  }
  @include landscape {
    margin-left: 4vh;
  }
}

.menusvg {
  width: clamp(3vh, 5vw, 14vh);
  height: clamp(3vh, 5vw, 14vh);
  margin-right: 7.5vw;
  display: none;
  @include portrait {
    display: block;
  }
  cursor: pointer;
}

.menu_svg_stroke {
  @include themed {
    stroke: t("text");
  }
  transition: stroke 0.5s ease-out;
}