.projects_cont {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 15vw;
  min-width: 100vw;
  min-height: 100vh;
  padding: 0 15vw;
  @include portrait {
    flex-direction: column;
    width: 100vw;
    min-height: 150rem;
    padding: 15vh 0;
  }
}

.proj_cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45rem;
  height: 40rem;
  margin-top: 2.5rem;
  @include portrait {
    height: 45rem;
  }
}

.proj_img_cont {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 45rem;
  height: 32rem;
  overflow: hidden;
}

.proj_img {
  width: 45rem;
  height: 32rem;
  object-fit: cover;
  transform: scale(1);
  transition: transform 500ms ease-in-out;
}

.proj_img:hover {
  transform: scale(1.1);
}

.proj_repo {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.proj_repo svg {
  width: 4rem;
  height: 4rem;
}

.proj_repo rect {
  fill: hsl(0, 0%, 95%);
}

.proj_repo path {
  fill: $black;
}

.proj_title {
  position: relative;
  width: fit-content;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-decoration: none;
  @include portrait {
    font-size: 3rem;
  }
}

.proj_title_link {
  text-decoration: underline;
}

.proj_desc {
  max-width: 40rem;
  font-size: 1.5rem;
  @include portrait {
    font-size: 2rem;
  }
}
