.scrollbar-track.scrollbar-track-x {
  opacity: 1;
  background-color: hsla(35, 10%, 50%, 0.8);
  height: 1.5vh;
}

.scrollbar-track.scrollbar-track-y {
  opacity: 1;
  background-color: hsla(35, 10%, 50%, 0.8);
  width: 1.5vw;
}

.scrollbar-thumb.scrollbar-thumb-x {
  border-radius: 0px;
  @include themed {
    background-color: t("thumb");
  }
  transition: background-color 0.5s ease-out;
  height: 1.5vh;
}

.scrollbar-thumb.scrollbar-thumb-y {
  border-radius: 0px;
  @include themed {
    background-color: t("thumb");
  }
  transition: background-color 0.5s ease-out;
  width: 1.5vw;
}