@use "../utilities/colors";
@use "../utilities/media-queries";

.skill_cont {
  @include media-queries.portrait {
    width: 80vw;
    height: 100vh;
    justify-content: center;
  }
  @include media-queries.landscape {
    width: 70vw;
    height: 70vh;
    padding: 0 15vw 0 15vw;
    justify-content: space-around;
  }
  display: flex;
  flex-direction: column;
}

.skill_cont div + div {
  @include media-queries.portrait {
    margin-top: 15vh;
  }
}

.skill_text {
  @include media-queries.portrait {
    font-size: 4vw;
  }
  @include media-queries.landscape {
    font-size: clamp(2vh, 2vw, 3vw);
  }
}

.skill_icon {
  display: flex;
  justify-content: center;
  transform: rotate(-4deg);
}

.bracket_gap {
  margin-left: clamp(10vh, 5vw, 12vh);
}

.skill_svg {
  width: clamp(9vh, 23vw, 23vh);
  height: clamp(9vh, 23vw, 23vh);
  position: absolute;
  align-self: center;
  opacity: 0;
}

.skill_svg_fill {
  @include colors.themed {
    fill: colors.t("text");
  }
  transition: fill 0.5s ease-out;
}

.skill_svg_fill_revert {
  @include colors.themed {
    fill: colors.t("bg");
  }
  transition: fill 0.5s ease-out;
}

.skill_svg_stroke {
  @include colors.themed {
    stroke: colors.t("text");
  }
  transition: stroke 0.5s ease-out;
}

.skill_bracket {
  font-size: clamp(10vh, 25vw, 25vh);
  font-family: "Saol-Display", serif;
  line-height: 100%;
  transform: translateY(-12%);
}
