///colors

$light: hsl(35, 80%, 92%);

$black: hsl(0, 0%, 8%);

$lightBlue: hsl(205, 36%, 70%);

$blue: hsl(205, 36%, 38%);

$lightGreen: hsl(118, 25%, 69%);

$green: hsl(125, 18%, 42%);

$lightThumb: hsl(35, 80%, 86%);

$darkThumb: hsl(34, 5%, 28%);

$text--light: $light;
$text--dark: $black;
$bg--light: $light;
$bg--dark: $black;
$bg--blue-light: $lightBlue;
$bg--blue-dark: $blue;
$bg--green-light: $lightGreen;
$bg--green-dark: $green;
$thumb-light: $lightThumb;
$thumb-dark: $darkThumb;

$themes: (
  light: (
    bg: $bg--light,
    text: $text--dark,
    bgBlue: $bg--blue-light,
    bgGreen: $bg--green-light,
    thumb: $thumb-dark,
    ),
  dark: (
    bg: $bg--dark,
    text: $text--light,
    bgBlue: $bg--blue-dark,
    bgGreen: $bg--green-dark,
    thumb: $thumb-light,
  ),
);

@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}
