* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-weight: 400;

  &::selection {
    @include themed {
      color: t("bg");
      background-color: t("text");
    }
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    @include themed {
      outline-color: t("text");
    }
    outline-style: solid;

    @include portrait {
      outline-width: 0.5vw;
      outline-offset: 1.5vw;
    }
    @include landscape {
      outline-width: 0.5vh;
      outline-offset: 1.5vh;
    }
    border-radius: 50vw;
  }
}

html,
body {
  overflow: hidden;
  overscroll-behavior: none;
  width: 100vw;
  height: 100vh;
}

.bg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 0;
  @include themed {
    background-color: t("bg");
  }
  transition: background-color 0.5s ease-out;
}

.bgProj {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 3;
  @include themed {
    background-color: t("bgBlue");
  }
  transition: background-color 0.5s ease-out;
  opacity: 0;
}

#my-scrollbar {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
}

.wrapper {
  display: flex;
  @include portrait {
    flex-direction: column;
  }
}

.mobileDevice {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.mobileDevice_text {
  width: 60vw;
  padding: 10vh 10vw 10vh 10vw;
  @include portrait {
    font-size: clamp(3vh, 4vw, 5vh);
  }
  @include landscape {
    font-size: clamp(4vh, 4vw, 5vh);
  }
  @include themed {
    background-color: t("bgBlue");
  }
  transition: background-color 0.5s ease-out;
}


.section {
  overflow: hidden;
  position: relative;
  @include portrait {
    width: 100vw;
    min-height: 100vh;
    flex-direction: column;
  }
  @include landscape {
    min-width: 100vw;
    height: 100vh;
  }
  display: flex;
  align-items: center;
  z-index: 5;
}

h1 {
  position: relative;
  margin: 0 0 0 14vw;
  letter-spacing: 0.6vw;
  font-family: "Saol-Display", serif;
  @include portrait {
    font-size: 16vw;
  }
  @include landscape {
    font-size: clamp(13vh, 13vw, 30vh);
  }
  font-weight: 400;
  font-display: swap;
  line-height: 100%;
  @include themed {
    color: t("text");
  }
  transition: color 0.5s ease-out;
}

h2 {
  display: inline-block;
  font-family: "Saol-Display", serif;
  // text-transform: uppercase;
  font-size: clamp(7vh, 12vw, 14vh);
  font-weight: 400;
  font-display: swap;
  line-height: 100%;
  @include landscape {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin: 0 14vh 0 14vh;
  }
  text-align: center;
  @include themed {
    color: t("text");
  }
  transition: color 0.5s ease-out;
}

p, a {
  font-family: "Montserrat", sans-serif;
  @include themed {
    color: t("text");
  }
  transition: color 0.5s ease-out;
  text-decoration: none;
}

.bold {
  font-weight: 600;
}

.upper {
  text-transform: uppercase;
}