@use "../utilities/colors";
@use "../utilities/media-queries";

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-weight: 400;
  -webkit-tap-highlight-color: hsla(0, 0%, 0%, 0);

  &::selection {
    @include colors.themed {
      color: colors.t("bg");
      background-color: colors.t("text");
    }
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    @include colors.themed {
      outline-color: colors.t("text");
    }

    outline-style: solid;

    @include media-queries.portrait {
      outline-width: 0.5vw;
      outline-offset: 1.5vw;
    }

    @include media-queries.landscape {
      outline-width: 0.5vh;
      outline-offset: 1.5vh;
    }

    border-radius: 50vw;
  }
}

html,
body {
  overscroll-behavior: none;
  // width: 100vw;
  height: 100vh;
}

html {
  font-size: min(1.5vw, 1.8vh);

  @include media-queries.portrait {
    // font-size: 1vw;
  }
}

strong {
  font-weight: 600;
}

.bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 0;

  @include colors.themed {
    background-color: colors.t("bg");
  }

  @include media-queries.portrait {
    width: calc(100vw - 15px);
  }

  @include media-queries.landscape {
    height: calc(100vh - 15px);
  }

  transition: background-color 0.5s ease-out;
}

.bgProj {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 3;
  transition: background-color 0.5s ease-out;
  opacity: 0;

  @include media-queries.portrait {
    width: calc(100vw - 15px);
  }

  @include media-queries.landscape {
    height: calc(100vh - 15px);
  }
}

.bgProj_blue {
  @include colors.themed {
    background-color: colors.t("bgBlue");
  }
}

.bgProj_green {
  @include colors.themed {
    background-color: colors.t("bgGreen");
  }
}

#my-scrollbar {
  width: 100vw;
  z-index: 5;
  display: flex;

  @include media-queries.portrait {
    width: calc(100vw - 15px);
  }

  @include media-queries.landscape {
    height: calc(100vh - 15px);
  }
}

.wrapper {
  display: flex;

  @include media-queries.portrait {
    flex-direction: column;
  }
}

.section {
  overflow: hidden;
  position: relative;

  @include media-queries.portrait {
    width: calc(100vw - 15px);
    flex-direction: column;
  }

  @include media-queries.landscape {
    height: calc(100vh - 15px);
  }

  display: flex;
  align-items: center;
  z-index: 5;
}

h1 {
  position: relative;
  margin: 0 0 0 14vw;
  letter-spacing: 0.6vw;
  font-family: "Saol-Display", serif;

  @include media-queries.portrait {
    font-size: 16vw;
  }

  @include media-queries.landscape {
    font-size: clamp(13vh, 13vw, 30vh);
  }

  font-weight: 400;
  font-display: swap;
  line-height: 100%;

  @include colors.themed {
    color: colors.t("text");
  }

  transition: color 0.5s ease-out;
}

h2 {
  display: inline-block;
  font-family: "Saol-Display", serif;
  // text-transform: uppercase;
  font-size: clamp(7vh, 12vw, 14vh);
  font-weight: 400;
  font-display: swap;
  line-height: 100%;

  @include media-queries.landscape {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin: 0 14vh 0 14vh;
  }

  text-align: center;

  @include colors.themed {
    color: colors.t("text");
  }

  transition: color 0.5s ease-out;
}

p,
a {
  font-family: "Montserrat", sans-serif;

  @include colors.themed {
    color: colors.t("text");
  }

  transition: color 0.5s ease-out;
}

a {
  text-underline-position: under;
}

.bold {
  font-weight: 600;
}

.upper {
  text-transform: uppercase;
}